*
{
	margin: 0;
	padding: 0;
}

html
{
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

h1
{
	font-size: 3em;
	text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.5);
	color: rgba(0, 0, 0, 0.5);
	
	-webkit-animation-duration: 3s;
	-webkit-animation-name: slidein;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	
	-moz-animation-duration: 3s;
	-moz-animation-name: slidein;
	-moz-animation-iteration-count: infinite;
	-moz-animation-direction: alternate;
}

#subtitle
{
	font-size: 1.3em;
}

header, footer
{
	text-align: center;
}

h2
{
	float: left;
}

h3
{
	float: right;
}

#list
{
	display: block;
	width: 700px;
	margin: 20px auto 20px auto;
}

.list-entry
{
	background-color: #75b2dd; /* Columbia Blue */
	height: 80px;
	padding: 20px;
}

.list-header
{
	height: 40px;
}

.list-body
{
	font-size: 1.1em;
}

.list-header, .list-body
{
	display: block;
}

.phone
{
	clear: both;
	display: block;
}

.phone, .address
{
	display: block;
	float: left;
	width: 330px;
}

@-webkit-keyframes slidein
{
	from
	{
		text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.5);
	}
	to
	{
		text-shadow: -4px -4px 0px rgba(0, 0, 0, 0.5);
	}
}

@-moz-keyframes slidein
{
	from
	{
		text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.5);
	}
	to
	{
		text-shadow: -4px -4px 0px rgba(0, 0, 0, 0.5);
	}
}